<!--
<span id="github-ribbon"><a href="https://github.com/swcarpentry/bc">Fork me on GitHub</a></span>
-->
<div class="banner row-fluid">
    <span class="span2">
      <img alt="NCEAS" src="{{page.root}}/img/NCEAS-logo.png" id="nceas-logo"/>
    </span>
    <span class="title span8">
      <a href="http://www.nceas.ucsb.edu/OSS" title="Open Science for Synthesis">
    Open Science for Synthesis</a>
    </span>
    <span class="span2">
      <img alt="RENCI" src="{{page.root}}/img/RENCI-logo.jpg" />
    </span>
</div>
