<div class="footer row-fluid">
  <span class="span4">
      Materials copyright University of California and University of North Carolina, with some materials used under CC-BY license from Software Carpentry.
  </span>
  <span class="span4">
    <img alt="SWC" src="{{page.root}}/img/software-carpentry-banner.png"/>
  </span>
  <span class="span4">
  <a class="label swc-blue-bg" href="mailto:{{site.contact}}">Email</a>
  <a class="label swc-blue-bg" href="{{site.twitter_url}}">Twitter</a>
  <a class="label swc-blue-bg" href="{{site.github_url}}">GitHub</a>
  <a class="label swc-blue-bg" href="{{site.irc_url}}">IRC</a>
  </span>
</div>
